{% assign teaching = site.data.data.teaching %}
{% if teaching %}
<section class="section projects-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-university fa-stack-1x fa-inverse"></i>
    </span>
    {{ teaching.title }}
  </h2>

  {% if teaching.intro %}
  <div class="intro">
      <p>{{ teaching.intro | markdownify }}</p>
  </div><!--//intro-->
  {% endif %}

  {% for course in teaching.courses %}
    <div class="item">

      <div class="project-title">
        {{ course.title }}
      </div>

      {% if course.description %}
      <div class="project-tagline">{{ course.description }}</div>
      {% endif %}

      {% for semester in course.semesters %}
        - <span class="project-tagline">
          <a href="{{ semester.link }}">{{ semester.semester }}</a>
        </span>
      {% endfor %}

    </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
